<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--namespace必须和接口名一致  -->
<mapper namespace="com.lsl.ssm.mapper.CategoryMapper">
		<select id="getCategoryById" resultType="category">
				select * from category_ where id=#{id}
		</select>
</mapper>